<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhangwww.opengles_learning">

    <application
        android:name=".CommonApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.activity.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.FirstGLActivity"/>
        <activity android:name=".ui.activity.AirHockeyActivity1" />
        <activity android:name=".ui.activity.AirHockeyActivity3" />
        <activity android:name=".ui.activity.AirHockeyActivity2" />
        <activity android:name=".ui.activity.AirHockeyActivity3D" />
        <activity android:name=".ui.activity.AirHockeyActivity3D2" />
        <activity android:name=".ui.activity.AirHockeyTexturedActivity" />
    </application>

</manifest>